.start-here {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 80vw;
    padding: 20px;
  }
  
  p {
    text-align: left;
  }
  
  .navigation-button {
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .user-input-data {
  }
  
  .navigation-button:hover {
    background-color: #4169E1;
    cursor: pointer;
  }

  .form-group {
    /* display: flex; */
    width: 80vw;
  }

  .form-group input {
    /* display: flex; */
    width: 50vw;
  }
  
  .field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .input-field {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    resize: none;
    height: 150px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  